@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: poppins, sans-serif;
  }
}

.card {
  background-color: rgb(195, 115, 11);
}
.active-color {
  color: white;
  background-color: brown;
}
